.floating-message {
    animation: float 10s linear infinite;
    white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
    
    font-size: auto;
  }
  
  @keyframes float {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(180%);
    }
  }