*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
    /* outline: 1px solid red; */
}

body{
    background-color: rgb(229, 217, 240);
    height: 2000px;
}

.header{
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 10px 2px rgb(245, 162, 162);
}

.header-message{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    padding: 5px;
    z-index: 9999;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px rgb(96, 95, 95);
    border: 1px solid rgb(242, 129, 253);
}

.header-message h3{
    font-size: x-large;
    color: rgb(174, 82, 255);
    margin-left: 5px;
    display: flex;
    flex: 1;
}

.header-message span{
    display: flex;
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 9999;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;

}
.header-message span:hover{
    color: red;
    font-size: 110%;
    background-color: black;
    box-shadow: 2px 2px 10px 1px red;
}







.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    /* width: 99.9vw; */
    height: auto;
    display: flex;
    flex-direction: row;
}

.header-navbar-logo{
    /* flex: 1; */
    margin-right: auto;
}
.header-navbar-logo h1{
    cursor: pointer;
}

.header-navbar-menu{
    display: flex;
    /* flex: 0 0 auto; */
    margin-right: 0;
}


.header-navbar-menu ul{
    text-align: center;
    list-style: none;
}

.header-navbar-menu li{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-navbar-menu li a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
}

.header-navbar-menu li a:hover{
    color: rgb(252, 20, 20);
    font-size: 150%;
}









